.promo-bar {
    text-align: center;
    width: 100%;
    background: rgb(106, 153, 106);
    color: white;
    padding: 10px 0; 
}
.promo-bar a {
    border-bottom: 1px dashed var(--promo-bar-text-color);
}
.promo-bar a:hover {
    color: white;
    border-bottom: 1px dashed var(--link-hover-color);
}


