/* #header {
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
  } */
  #header .header_top {
	padding:12px 0;
	background:#ebe5e2;
  }
  #header .top_menu {
	float:left;
  }
  #header .top_menu ul {
	margin:0;
	padding:0;
	display:block;
  }
  #header .top_menu ul li {
	margin:0;
	padding:0 15px;
	display:block;
	float:left;
	border-left:1px solid #ebe5e2;
  }
  #header .top_menu ul li:first-child {
	padding-left:0;
	border-left:none;
  }
  #header .top_menu ul li:last-child {
	padding-right:0;
  }
  #header .top_menu ul li a {
	margin:0;
	padding:0;
	display:block;
	color:#898989;
	font-weight:normal;
  }
  #header .top_menu ul li a:hover {
	color:#8a756b;
  }
  #header .hed_right {
	float:right;
  }
  #header .hed_right ul {
	margin:0;
	padding:0;
  }
  #header .hed_right ul li {
	margin:0;
	padding:0 15px;
	display:block;
	float:left;
	border-left:1px solid #ebe5e2;
	font-weight:normal;
  }
  #header .hed_right ul li:first-child {
	padding-left:0;
	border-left:none;
  }
  #header .hed_right ul li:last-child {
	padding-right:0;
  }
  #header .hed_right ul li a {
	margin:0;
	padding:0;
	display:block;
	color:#898989;
  }
  #header .hed_right ul li a:hover {
	color:#8a756b;
  }
  #header .hed_right ul li span {
	color:#abbda5;
	margin-right:6px;
  }
  #header span.header-top-text{
	color:#898989 !important;
  }
  #header span.header-top-text p{
	display: inline-block;
	color:#898989 !important;
  }
  #header span.header-top-text a {
	color:#abbda5 !important;
	display:inline !important;
  }
  #header span.header-top-text p a{
	color:#abbda5 !important;
	display:inline !important;
  }
  #header span.header-top-text a:hover {
	color:#8a756b !important;
  }
  #header span.header-top-text p a:hover {
	color:#8a756b !important;
  }
  #header .header_bot {
	border-top:1px solid #ebe5e2;
	background: #ffffff;
	position:relative;
	-webkit-box-shadow: 0 2px 2px rgba(11, 25, 28, .12);
	-moz-box-shadow: 0 2px 2px rgba(11, 25, 28, .12);
	box-shadow: 0 2px 2px rgba(11, 25, 28, .12);
  }
  
  #header .header_bot .container {
	position:relative;
  }
  #header .navbar-brand {
	font-size: 26px;
	padding:0 15px 0 0;
  }
  #header a.navbar-brand, #header a.text-logo {
	color:#282727;
  }
  #header a.navbar-brand:hover, #header a:hover.text-logo {
	color:#8a756b;
  }
  #header a.text-logo {
	padding:20px 20px 20px 0;
  }
  #header .navbar-toggle {
	padding: 0;
	margin-right:0 !important;
  }
  #header .navbar-brand img {
	max-height:140px;
	max-width:350px;
	padding:10px 0;
  }
  #header #nav .navbar {
	margin:0;
  }
  #header #nav .navbar-toggle .icon-bar {
	background: #333;
  }
  #header .navbar {
	position:relative;
  }
  #header .navbar .navbar-header {
	position:relative;
	z-index:1;
  }
  #header #nav .wsmenu > ul > li > a {
	color: #282727;
  }
  #header #nav .wsmenu > ul > li > a:hover {
	color: #abbda5;
  }
  .wsmenu li h5 a {
	color:#282727;
	font-size: 16px;
  }
  .wsmenu li h5:hover a {
	color:#abbda5;
	display: inline-block;
  }
  .wsmenu-list > li > a, .megamenu, .wsmenu, .wsmenu-list>li>a {
	background: #ffffff;
  }
  
  .wsmenu > ul > li > a {
	color:#abbda5;
	font-weight:600;
	text-transform:uppercase;
	font-size :14px;
  }
  .wsmenu > ul > li:hover > a, .mega_menu .megamenu li > a:hover, .mega_menu .wsmenu-submenu li > a:hover {
	color:#8a756b;
  }
  .wsmenu-list li > .wsmenu-submenu, .wsmenu-list li > .megamenu, .wsmenu .wsmenu-list {
	background: #ffffff;
	border-color: #ffffff;
  }
  .mega_menu .megamenu li > a,.mega_menu .wsmenu-submenu li > a {
	font-size:13px !important;
  }
  .wsmenu-submenu li a {
	font-size:13px;
	background: #ffffff !important;
  }
  .mega_menu .megamenu li > a, .mega_menu .wsmenu-submenu li > a {
	color:#abbda5;
  }
  @media (max-width:768px) {
	#header .header_bot, .wsmenu-list > li > a, 
	.megamenu, .wsmenu, .wsmenu-list>li>a, .wsmenu-submenu li a {
	  background: #ffffff;
	}
	.wsmenu-list li > .wsmenu-submenu, .wsmenu-list li > .megamenu, .wsmenu .wsmenu-list {
	  background: #ffffff;
	  border-color: #ffffff;
	}
  }
  @media (min-width: 768px) {
  .megamenu ul li ul li {
	margin-left:-15px;
  }
  }
  
  @media (max-width: 768px) {
	.wsmenu li h5 a {
	  font-size: 14px;
	}
  }
  
  @media (min-width: 769px) and (max-width: 950px) {
	.wsmenu-list > li > a {
	  font-size:12px !important;
	  padding-left:7px;
	  padding-right:7px;
	}
  
	.wsmenu-list li a .arrow:after {
	  margin-left:5px;
	  font-size:12px;
	}
  }
  
  .arrow,.wsmenu-click i,.wsmenu-click02 i,.left-arrow {
	color:#abbda5;
  }
  .wsmenu-click02 i {
	margin-top:10px;
	margin-right:9px;
  }
  
  @media (max-width: 768px) {
   .navbar .wsmenu-submenu > li > a {
	  color:#abbda5;
	  font-weight: 400;
	  font-size: 14px !important;
	}
	.navbar .wsmenu-submenu > li:hover > a {
	  color:#8a756b;
	}
  }
  .wsmenu-submenu .fa {
	margin-right:20px;
  }

  #header .hed_right {
	
		
	padding-top: 9px;
	

}

#header .navbar-toggle, #header .navbar-cart {

padding-top: 15px;
padding-bottom: 15px;

}
#header a.navbar-brand {
height:auto;
}
@media (max-width: 600px) {
#header .navbar-brand > img {
max-width: 158px;
}
}
@media (max-width: 600px) {
#header .navbar-toggle, #header .navbar-cart {
	
	padding-top: 10px;
	padding-bottom: 10px;
	
}
}

#header .hed_right .header-contact {
clear:both;
float:right;
margin-top:10px;
}
@media (max-width: 989px) {
#header .hed_right ul li {
	padding:0 10px;
}
}

@media (max-width: 767px) {
#header .hed_right, #header .hed_right .header-contact {
	padding:0;
	float:none;
	text-align: center;
}
}
@media  (min-width: 768px) and (max-width: 800px) {
#header .hed_right ul {
float:left !important;
}
}


@media (max-width: 900px) {

#header #nav .navbar-nav > li > a {
font-size: 12px;
line-height: 32px;
padding-left:7px;
padding-right:7px;
}

#header .navbar-brand {
font-size: 22px;
line-height: 20px;

padding:0 15px 0 0;

}

#header .right_menu > ul > li > a {
margin: 0 0 0 5px;
}
#header #nav .navbar:not(.caret-bootstrap) .navbar-nav:not(.caret-bootstrap) li:not(.caret-bootstrap) > a.dropdown-toggle:not(.caret-bootstrap) > span.caret:not(.caret-bootstrap) {
margin-left: 3px;
}
}

@media  (min-width: 768px) and (max-width: 800px) {
#header .hed_right, #header .top_menu {
padding:0 !important;
}
#header .hed_right ul {
display:block !important;

}
#header .hed_right .header-contact {
margin-top:0 !important;
}
#header .top_menu {
float:left !important;
}
}

@media (max-width: 480px) {
#header .hed_right ul li {
	margin: 0;
	padding: 0 5px;
	border: none;
	display: inline-block;
}
}

.navbar:not(.no-border) .navbar-nav.dropdown-onhover>li:hover>a {
margin-bottom:0;
}


figure.effect-chico img {
-webkit-transform: scale(1) !important;
transform: scale(1) !important;
}

figure.effect-chico:hover img {
-webkit-transform: scale(1.2) !important;
transform: scale(1.2) !important;
}

@media (min-width: 769px)
{
#header #nav .wsmenu > ul > li > a  {
padding-top:15px;
padding-bottom:15px;
}
}


#header .nav > li:first-child > a {
padding-left:0;
}

.promo-bar {
font-size:14px;
}
.promo-bar p{
font-size:14px;
}
#header .top_menu ul li {
font-size:14px;
}
#header .hed_right ul li, #header span.header-top-text p {
font-size:14px;
}