/*sticky menu */
.sticky {
  position: fixed !important;
  top: 0;
  width: 100%;
  border-top: 0;
  z-index: 103;
}
.sticky {
  -webkit-animation: fadein 0.2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.2s; /* Firefox < 16 */
  -ms-animation: fadein 0.2s; /* Internet Explorer */
  -o-animation: fadein 0.2s; /* Opera < 12.1 */
  animation: fadein 0.2s;
}
.navbar-right .dropdown-grid .dropdown-toggle {
  z-index: 1;
}
@keyframes fadein {
  from { opacity: 0.5; }
  to   { opacity: 1; }
}

@-moz-keyframes fadein {
  from { opacity: 0.5; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0.5; }
  to   { opacity: 1; }
}

@-ms-keyframes fadein {
  from { opacity: 0.5; }
  to   { opacity: 1; }
}

@-o-keyframes fadein {
  from { opacity: 0.5; }
  to   { opacity: 1; }
}
.navbar .navbar-nav>li.dropdown-grid.open>.dropdown-grid-wrapper>.dropdown-menu {
  display: block;
  right:auto;
  direction:ltr;
}
.navbar .navbar-nav.navbar-left>li.dropdown-grid>.dropdown-grid-wrapper.dropdown-menu-right, .navbar .navbar-nav.navbar-right>li.dropdown-grid>.dropdown-grid-wrapper {
  direction: rtl;
  float: right;
}
.navbar .navbar-nav>li:not(.dropdown-onhover):not(.dropdown-short)[class*=dropdown-] {
  position: static;
}
.hidden-mu
{
  display:none;
}